In [1]:
import pandas as pd
import os

In [5]:
df = pd.read_csv("res/preprocessed_data/master.csv")
df

,Unnamed: 0,DATE,CC,Q_CC,DATE.1,FG,Q_FG,DATE.2,FX,Q_FX,...,Q_SS,DATE.9,TG,Q_TG,DATE.10,TN,Q_TN,DATE.11,TX,Q_TX
0,0,01/09/1957,8.0,0.0,01/09/1957,21.0,0.0,01/09/1957,56.0,0.0,...,9.0,01/09/1957,144.0,0.0,01/09/1957,119.0,0.0,01/09/1957,168.0,0.0
1,1,02/09/1957,6.0,0.0,02/09/1957,32.0,0.0,02/09/1957,142.0,0.0,...,9.0,02/09/1957,132.0,0.0,02/09/1957,105.0,0.0,02/09/1957,179.0,0.0
2,2,03/09/1957,6.0,0.0,03/09/1957,16.0,0.0,03/09/1957,41.0,0.0,...,9.0,03/09/1957,123.0,0.0,03/09/1957,57.0,0.0,03/09/1957,169.0,0.0
3,3,04/09/1957,7.0,0.0,04/09/1957,16.0,0.0,04/09/1957,40.0,0.0,...,9.0,04/09/1957,126.0,0.0,04/09/1957,60.0,0.0,04/09/1957,197.0,0.0
4,4,05/09/1957,7.0,0.0,05/09/1957,28.0,0.0,05/09/1957,89.0,0.0,...,9.0,05/09/1957,164.0,0.0,05/09/1957,110.0,0.0,05/09/1957,203.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,24589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24590,24590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24591,24591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24592,24592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24593,24593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.columns = [i.strip() for i in df.columns]

In [ ]:
df['CC'].value_counts()